{% load static %}
<script src={% static 'mainpage/script.js' %}></script>
<link rel="stylesheet" href={% static 'mainpage/style.css' %}>
<form id="math_questions">
    {% csrf_token %}
<ol>
    <input type="button" onclick="getquestions()" value="Вопросики">
    <input type="button" onclick="checkanswers()" value="Проверить">
    <div id="q_place"></div>
{% for q in questions %}
    <li>
        <input value={{q.0}} disabled> +
        <input value={{q.1}} disabled> = 
        <input type="number">
    </li> 
{% endfor %}
</ol>
</form>