<ol>
<li> Создать среду.<em>Делается один раз на весь проект.
Если в процессе работы с проектом среда создалась заново,
значит, вы попытались "активировать" её не из той директории</em>
</li>
<li> Активировать среду. Та же команда
<em>(в той папке, где есть Pipfile)</em>
<ul>
<li><em>Windows:</em> py -m pipenv shell</li>
<li><em>MacOS:</em> python3 -m pipenv shell</li>
</ul>
Среда либо аквируется сама, если VSCode её "нашел",
либо её приходится активировать всякий раз, когда открываете новый терминал
</li><li> Создать проект (django-admin startproject НАЗВАНИЕ) - один раз за работу над всем проектом
</li><li> Создать приложение (python manage.py startapp mainpage) - 
приложений может быть несколько и они могут называться по разному!
</li><li> Создать файл с путями к приложению и записать его в глобальный urls
</li><li> Зарегистрировать приложение в settings.py INSTALLED_APPS
</li><li> создать директорию с шаблонами и шаблонами в приложении
    templates 
    а в ней
    mainpage
</li><li> создать функцию, отображающую шаблонам во views.py
    <pre>
def main(request):
    render(
        request,               # так будет всегда
        'mainpage/main.html',  # путь к шаблону
        # здесь будут данные!
    )
</pre>
</li><li> Прописать путь к функции
path('', views.main, name='mainpage'),
</li><li> Обратиться по пути
<li value=99> Запустить сервер - каждый раз, когда он упал. 
python manage.py runserver</li>

</ol>